In [1]:
import matplotlib as plt
import pandas as pd

In [5]:
df = pd.read_csv('Bengaluru_House_Data.csv')

In [6]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [10]:
df = df.drop(['area_type', 'availability', 'society', 'balcony'], axis='columns')

In [11]:
df

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13320 rows x 5 columns]

In [13]:
df.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [14]:
df = df.dropna()

In [15]:
df

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13246 rows x 5 columns]

In [16]:
df['BHK'] = df['size'].apply(lambda x: int(x.strip()[0]))

/var/folders/86/ktqx9w8n6rg9mbkbz9p65wm80000gn/T/ipykernel_19232/1320078394.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BHK'] = df['size'].apply(lambda x: int(x.strip()[0]))

In [17]:
df

                       location       size total_sqft  bath   price  BHK
0      Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2                   Uttarahalli      3 BHK       1440   2.0   62.00    3
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                      Kothanur      2 BHK       1200   2.0   51.00    2
...                         ...        ...        ...   ...     ...  ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00    5
13316             Richards Town      4 BHK       3600   5.0  400.00    4
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00    2
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00    4
13319              Doddathoguru      1 BHK        550   1.0   17.00    1

[13246 rows x 6 columns]

In [18]:
df.drop(['size'],axis = 'columns')

                       location total_sqft  bath   price  BHK
0      Electronic City Phase II       1056   2.0   39.07    2
1              Chikka Tirupathi       2600   5.0  120.00    4
2                   Uttarahalli       1440   2.0   62.00    3
3            Lingadheeranahalli       1521   3.0   95.00    3
4                      Kothanur       1200   2.0   51.00    2
...                         ...        ...   ...     ...  ...
13315                Whitefield       3453   4.0  231.00    5
13316             Richards Town       3600   5.0  400.00    4
13317     Raja Rajeshwari Nagar       1141   2.0   60.00    2
13318           Padmanabhanagar       4689   4.0  488.00    4
13319              Doddathoguru        550   1.0   17.00    1

[13246 rows x 5 columns]

In [19]:
df

                       location       size total_sqft  bath   price  BHK
0      Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2                   Uttarahalli      3 BHK       1440   2.0   62.00    3
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                      Kothanur      2 BHK       1200   2.0   51.00    2
...                         ...        ...        ...   ...     ...  ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00    5
13316             Richards Town      4 BHK       3600   5.0  400.00    4
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00    2
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00    4
13319              Doddathoguru      1 BHK        550   1.0   17.00    1

[13246 rows x 6 columns]

In [29]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [34]:
df[~df['total_sqft'].apply(is_float)].head(10)

               location       size      total_sqft  bath    price  BHK
30            Yelahanka      4 BHK     2100 - 2850   4.0  186.000    4
122              Hebbal      4 BHK     3067 - 8156   4.0  477.000    4
137  8th Phase JP Nagar      2 BHK     1042 - 1105   2.0   54.005    2
165            Sarjapur      2 BHK     1145 - 1340   2.0   43.490    2
188            KR Puram      2 BHK     1015 - 1540   2.0   56.800    2
410             Kengeri      1 BHK  34.46Sq. Meter   1.0   18.500    1
549         Hennur Road      2 BHK     1195 - 1440   2.0   63.770    2
648             Arekere  9 Bedroom       4125Perch   9.0  265.000    9
661           Yelahanka      2 BHK     1120 - 1145   2.0   48.130    2
672        Bettahalsoor  4 Bedroom     3090 - 5002   4.0  445.000    4

In [37]:
def convert_values(val):
    values = val.split('-')
    if len(values) == 2:
        return (float(values[0]) + float(values[1])) / 2 
    try:
        return float(val)
    except:
        return None

In [38]:
df['total_sqft'] = df['total_sqft'].apply(convert_values)

/var/folders/86/ktqx9w8n6rg9mbkbz9p65wm80000gn/T/ipykernel_19232/1829974384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_sqft'] = df['total_sqft'].apply(convert_values)

In [39]:
df

                       location       size  total_sqft  bath   price  BHK
0      Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2                   Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3            Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                      Kothanur      2 BHK      1200.0   2.0   51.00    2
...                         ...        ...         ...   ...     ...  ...
13315                Whitefield  5 Bedroom      3453.0   4.0  231.00    5
13316             Richards Town      4 BHK      3600.0   5.0  400.00    4
13317     Raja Rajeshwari Nagar      2 BHK      1141.0   2.0   60.00    2
13318           Padmanabhanagar      4 BHK      4689.0   4.0  488.00    4
13319              Doddathoguru      1 BHK       550.0   1.0   17.00    1

[13246 rows x 6 columns]

In [40]:
df.head(50)

                    location       size  total_sqft  bath   price  BHK
0   Electronic City Phase II      2 BHK     1056.00   2.0   39.07    2
1           Chikka Tirupathi  4 Bedroom     2600.00   5.0  120.00    4
2                Uttarahalli      3 BHK     1440.00   2.0   62.00    3
3         Lingadheeranahalli      3 BHK     1521.00   3.0   95.00    3
4                   Kothanur      2 BHK     1200.00   2.0   51.00    2
5                 Whitefield      2 BHK     1170.00   2.0   38.00    2
6           Old Airport Road      4 BHK     2732.00   4.0  204.00    4
7               Rajaji Nagar      4 BHK     3300.00   4.0  600.00    4
8               Marathahalli      3 BHK     1310.00   3.0   63.25    3
9               Gandhi Bazar  6 Bedroom     1020.00   6.0  370.00    6
10                Whitefield      3 BHK     1800.00   2.0   70.00    3
11                Whitefield  4 Bedroom     2785.00   5.0  295.00    4
12        7th Phase JP Nagar      2 BHK     1000.00   2.0   38.00    2
13                 Gottigere      2 BHK     1100.00   2.0   40.00    2
14                  Sarjapur  3 Bedroom     2250.00   3.0  148.00    3
15               Mysore Road      2 BHK     1175.00   2.0   73.50    2
16             Bisuvanahalli      3 BHK     1180.00   3.0   48.00    3
17     Raja Rajeshwari Nagar      3 BHK     1540.00   3.0   60.00    3
18     Ramakrishnappa Layout      3 BHK     2770.00   4.0  290.00    3
19        Manayata Tech Park      2 BHK     1100.00   2.0   48.00    2
20                   Kengeri      1 BHK      600.00   1.0   15.00    1
21                Binny Pete      3 BHK     1755.00   3.0  122.00    3
22               Thanisandra  4 Bedroom     2800.00   5.0  380.00    4
23                 Bellandur      3 BHK     1767.00   3.0  103.00    3
24               Thanisandra       1 RK      510.00   1.0   25.25    1
25           Mangammanapalya      3 BHK     1250.00   3.0   56.00    3
26           Electronic City      2 BHK      660.00   1.0   23.10    2
27                Whitefield      3 BHK     1610.00   3.0   81.00    3
28          Ramagondanahalli      2 BHK     1151.00   2.0   48.77    2
29           Electronic City      3 BHK     1025.00   2.0   47.00    3
30                 Yelahanka      4 BHK     2475.00   4.0  186.00    4
31             Bisuvanahalli      3 BHK     1075.00   2.0   35.00    3
32                    Hebbal      3 BHK     1760.00   2.0  123.00    3
33     Raja Rajeshwari Nagar      3 BHK     1693.00   3.0   57.39    3
34             Kasturi Nagar      3 BHK     1925.00   3.0  125.00    3
35            Kanakpura Road      2 BHK      700.00   2.0   36.00    2
36  Electronics City Phase 1      2 BHK     1070.00   2.0   45.50    2
37              Kundalahalli      3 BHK     1724.00   3.0  125.00    3
38            Chikkalasandra      3 BHK     1290.00   2.0   56.12    3
39               Uttarahalli      2 BHK     1143.00   2.0   45.00    2
40             Murugeshpalya      2 BHK     1296.00   2.0   81.00    2
41            Sarjapur  Road      3 BHK     1254.00   3.0   38.00    3
42               Ganga Nagar      1 BHK      600.00   1.0   38.00    1
43                 Yelahanka  1 Bedroom      660.00   1.0   48.00    1
44            Kanakpura Road      2 BHK     1330.74   2.0   91.79    2
45                HSR Layout  8 Bedroom      600.00   9.0  200.00    8
46              Doddathoguru      2 BHK      970.00   2.0   33.00    2
47                Whitefield      2 BHK     1459.00   2.0   94.82    2
48                  KR Puram  2 Bedroom      800.00   1.0  130.00    2
49          Himagiri Meadows      2 BHK      869.00   2.0   36.00    2